.todo-input{
    padding: 8px;
    border: 3px rgb(126, 139, 247) solid;
    border-radius: 10px 0px 0px 10px;
    min-height: 50px;
    min-width: 65%;
    font-size: 20px;
}
.todo-input-date{
    border: 3px rgb(126, 139, 247) solid;
    border-radius: 0px 10px 10px 0px;
    border-left: none;
    min-height: 50px;
    min-width: 12%;
    font-size: 20px;
}
.todo-input-btn{
    min-height: 50px;
    border: 3px rgb(126, 139, 247) solid;
    border-radius: 10px;
    min-width: 60px;
    font-size: 20px;
}
button:hover{
    box-shadow: 0px 0px 3px 3px rgba(81, 81, 247, 0.397);
}
.todo-form-item {
    text-align: center;
}
.todo-form-item input:focus {
    border-color: rgba(65, 65, 212, 0.726);
    outline: none ;
    box-shadow: 0px 0px 3px 3px rgba(81, 81, 247, 0.397);
}
.todo-content{
    text-align: -webkit-center;
    font-size: 18px;
}
.todo-content button{
    border: 3px rgb(126, 139, 247) solid;
    border-radius: 10px;
    min-width: 8%;
    margin-left: 3px;
}
.todo-item{
    max-width: 80%;
    text-align: left;
    display: flex;
}
.todo-detail{
    padding: 8px;
    display: flex;
    min-height: 50px;
    border: 3px rgb(126, 139, 247) solid;
    border-radius: 10px;
    min-width: 90%;
    align-items: center;
    justify-content: space-between;
}
.btn-group{
    text-align: end;
}
.btn-danger:hover{
    box-shadow: 0px 0px 3px 3px rgba(224, 24, 74, 0.397);
}